<% if session[:user_id] %>
  <h1>Hiya,<%= @user.name %>! How are you</h1>

<% else %>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>
<%= link_to('or Create your own account here!', '/auth/facebook') %>
<% end %>
